//
// universal styling
// 

ul 
    padding: 0
    margin: 0


li  
    list-style: none 

a 
    text-decoration: none
    border: none


// @-moz-keyframes spin  100%  -moz-transform: rotate(360deg)  
// @-webkit-keyframes spin  100%  -webkit-transform: rotate(360deg)  
@keyframes spin 100%  -webkit-transform: rotate(360deg) transform: rotate(360deg)  

//React color: 61dafb//
/////////////////////////
// Body
/////////////////////////

.light-text
    color: #c2c2c2 !important

/////////////////////////
// Medium Nav
/////////////////////////
.medium-nav 
    display: none
    position: absolute
    top: 0
    right: 0
    height: 30px


.navigation-links-container 
    height: 30px

.navigation-links li 
    display: inline-block
    margin: 20px 40px
    transition: all 0.3s ease-in-out

.navigation-links li a 
    padding-bottom: 7px
    color: rgb(210, 230, 210)
    transition: all 0.3s ease-in-out

.navigation-links li:hover 
    border-bottom: 1px solid rgb(210, 230, 210)

/////////////////////////
// Projects
/////////////////////////
.projects 
    background-color: #8c7b6d
    height: 170vh
    //padding-bottom: 1400px//

.project-header 
    color: rgb(221, 237, 221)

.project-header-container 
    padding: 5vh 5%
    display: flex
    justify-content: center

.project-display-container 
    padding: 0 5%


.card-text 
    font-size: 16px



/////////////////////////
// Case Studies
/////////////////////////
.case-studies 
    height: 100vh

.case-study-header 
    text-align: center
    margin: 5vh 0 10vh



/////////////////////////
// Logo Images
/////////////////////////
.logo-container 
    display: flex
    align-items: center
    justify-content: center
    height: 150px
    transition: all 0.5s ease


.lang-body 
    transition: all 0.3s ease-in-out

.hidden 
    opacity: 0

//////
// HTML
//////
.language-logo 
    height: 114px
    transition: all 0.4s
    cursor: pointer

.language-logo:hover 
    transform: scale(1.2)

.language-text 
    display: none

.name-header 
    text-align: center



//////
// React
//////

#react-img 
    // height: 150px
    // margin:-60px 0 0 -60px
    // -webkit-animation:spin 10s linear infinite
    // -moz-animation:spin 10s linear infinite
    // animation:spin 10s linear infinite
    transition: all 0.3s
    margin: 0 auto
    cursor: pointer

#react-img:hover 
    -webkit-animation: spin 2s linear infinite
    -moz-animation: spin 2s linear infinite
    animation: spin 2s linear infinite

// //////
// Java
// //////




/////////////////////////
// project
/////////////////////////

/////////////
// card styling
//////////////
.card 
    display: flex
    align-content: flex-end
    position: relative
    padding-bottom: 100px
    border-radius: 8px
    margin: 25px
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3)

.span-1-of-4 
    width: 100%
    
.card-links 
    display: flex
    justify-content: space-evenly
    position: absolute
    width: 100%
    bottom: 0

.card-img-top 
    height: 100px
    width: 140px

.img-cont 
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 120px



/////////////////////////
// case studies
/////////////////////////
.case-studies 
    padding-bottom: 5vh



/////////////////////////
// Contact Me
/////////////////////////
.resume-btn 
    margin-left: 15px
    background-color: transparent
    border: 3px solid gray



/////////////////////////
// Media Queries
/////////////////////////


@media screen and (min-width: 540px)
    .medium-nav 
        display: block
    
    .mobile 
        display: none
    

@media screen and (min-width: 700px)
    .span-1-of-4 
        width: 28%
    
    .projects 
        height: 100vh
    


@media screen and (min-width: 1500px) 
    .container 
        max-width: 1340px
    

@media screen and (min-width: 1900px) 
    .container 
        max-width: 1740px
  